<tr>
    <td style="width:260px;padding:10px;vertical-align:top;color:#153643;">
        <div style="padding:10px;">
            <h1 style="font-size:20px;margin:0 0 6px 0;font-family:Arial,sans-serif;">
                Código Receta:
                <a target="_blank" href="[url]"
                    style="color:[color];font-weight: bold;text-decoration: none;">[codigoReceta]</a>
            </h1>
            <p style="font-size:16px;margin:0 0 6px 0;font-family:Arial,sans-serif;">
                Vigencia: [fechaInicio] - [fechaTermino]</p>
            <p style="font-size:16px;margin:0 0 6px 0;font-family:Arial,sans-serif;">
                Cliente: [cliente]</p>
        </div>
    </td>
</tr>